﻿<!DOCTYPE html>
<html>
<head>
    <title>Welcome to HRIS</title>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular-route.min.js"></script>
    <link href="angularapp/Styles/LandingPage.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="Angularapp/app.js"></script>
    <script src="Angularapp/Controllers/LandingPage.js"></script>
    <script src="Angularapp/RoutingScript.js"></script>
     <script src="Angularapp/Controllers/EmployeeData.js"></script>
    <script src="Angularapp/Controllers/EmployeeDetails.js"></script>

</head>

    <script>
        function logout() {
            var logouttime = new Date();
            alert("logout time is" + logouttime);
            window.location.href = "index.html";
        }
</script>

<body ng-app="HrisApp">
    <header style="text-align: center; padding: 1em;">
        <h2>Human Resource Information System</h2>
    </header>

    <form class="form">
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <div class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </div>
                    <div id="navbar" class="collapse navbar-collapse">

                        <ul class="nav navbar-nav">
                            <li class="active"><a href="#"><span class="glyphicon glyphicon-home"></span></a></li>
                            <li class=""><a href="#"><span class="glyphicon glyphicon-user"></span>My Profile </a></li>
                            <li data-ng-if="showElement" class=""><a href="#EmployeeList"><span class="glyphicon glyphicon-menu-down"></span>List of Employees</a></li>
                        </ul>

                        <ul class="nav navbar-nav navbar-left">
                            <div class="search">
                                <span class="icon"><i class="fa fa-search"></i></span>
                        
                            </div>
                        </ul>

                        <ul class="nav navbar-nav navbar-right">
                            <li class="active"><button onclick="logout()"><span class="glyphicon glyphicon-log-out"></span>Logout</button></li>
                        </ul>

                    </div>

                </div>
            </div>
        </nav>

    </form>

    <div class="container">

        <div ng-view></div>

    </div>
    <footer style="text-align: center;"></footer>

</body>

</html>
