﻿    <!DOCTYPE html>
<html>
<head>
    <title>Welcome to HRIS</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>
    <link href="angularapp/Styles/LandingPage.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="angularapp/app.js"></script>
    <script src="Angularapp/controllers/LandingPage.js"></script>
    <script src="Angularapp/RoutingScript.js"></script>

</head>

<body ng-app="HrisApp" ng-controller="FetchDataController">
    <header style="text-align: center; padding: 1em;">
        <h2>Human Resource Information System</h2>
    </header>

    <form class="form">
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <div class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" >
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </div>
                    <div id="navbar" class="collapse navbar-collapse">

                        <ul class="nav navbar-nav">
                            <li class="active"><a href="#"><span class="glyphicon glyphicon-home"></span></a></li>
                            <li class=""><a href="#MyProfile"><span class="glyphicon glyphicon-user"></span>My Profile </a></li>
                            <li ng-if="showElement" class=""><a href="#EmployeeList"><span class="glyphicon glyphicon-menu-down"></span>List of Employees</a></li>
                        </ul>

                        

                        <ul class="nav navbar-nav navbar-left">
                            <li class="active"><a href="Index.html"><span class="glyphicon glyphicon-log-out"></span>Logout</a></li>
                        </ul>

                    </div>

                </div>
            </div>


        </nav>

    </form>

    <div class="container">
        <div class="popup">
           
        <div ng-view></div>

    </div>
    <footer style="text-align: center;"></footer>

</body>

</html>
