﻿.suggestions-list {
	position: absolute;
	list-style-type: none;
	margin: 0 0 0 23px;
	padding: 0;
	overflow: auto;
}
.suggestions-list li {
	color: #000000;
	padding: 20px 20px;
	height:10px;
	cursor: pointer;
	background: #f9f9f9;
	border-bottom: 1px solid #eeeeee;
	width:234px;
}
.suggestions-list li:hover {
	background: #eeeeee;
}

.suggestions-list:focus{
	outline:none;
}
span:hover{
cursor:pointer;
  
}
