﻿

<div>
<table> 
<tr>

<tr><td>FirstName:{{ EmployeeData.FirstName }}</td></tr>
<tr><td>MiddleName:{{ EmployeeData.MiddleName }}</td></tr>
<tr><td>Employee ID:{{ EmployeeData.EmployeeID }}</td></tr>
<tr><td>Email ID:{{ EmployeeData.EmailID }}</td></tr>
<tr><td>Contact No:{{ EmployeeData.ContactNo }}</td></tr>
<tr><td>Current Project:{{ EmployeeData.CurrentProject  }}</td></tr>
<tr><td>OtherProject:{{ EmployeeData.OtherProject }}</td></tr>
<tr><td>ReportingManager:{{ EmployeeData.ReportingManager }}</td></tr>
<tr><td>ReportingLead:{{ EmployeeData.ReportingLead }}</td></tr>
<tr><td>Designation:{{ EmployeeData.Designation }}</td></tr>
<tr><td>Band:{{ EmployeeData.Band }}</td></tr>
<tr><td>AnnualCTC:{{ EmployeeData.AnnualCTC }}</td></tr>
<tr><td>DateOfJoining:{{ EmployeeData.DateOfJoining }}</td></tr>
<tr><td>InternalExperience:{{ EmployeeData.InternalExperience }}</td></tr>
<tr><td>TotalExperience:{{ EmployeeData.TotalExperience }}</td></tr>
<tr><td>CurrentWorkingLocation:{{ EmployeeData.CurrentWorkingLocation }}</td></tr>



</table> 
</div>