﻿
    <div class='container' style="background-color:#f5f5f5 ;padding-bottom:30%">
<center><h1>Forgot Password</h1></center>
    
      <div id=primaryForm class='row'  >
  <table   >
    <tr><td><div class="col-sm-12" style='padding-left:80px'>Please enter your email id to reset your password </div></td></tr>
     <tr><td>
         
         <div style="padding-top:15px">


<div class="col-sm-2" > </div>
<div class="col-sm-8" ><input type="text" class="form-control" id="txtEmail" data-ng-model=email data-ng-Keypress="colorchange()"> 
</div>
<div class="col-sm-2" ><center><button type="submit" class="btn btn-primary" data-ng-click="validation()">Submit</button></center> </div>

</div>
</td></tr>
    </table>
</div>
   
   </div>
    
    