﻿
  <header style=" background-color:#33d6ff;
    height: 50px;
    text-align:center;"> Human Resource Information Solution </header>
  <div class="container-fluid body-content">
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#"><span class="glyphicon glyphicon-home"></span> Home </a></li>
            <li class="active"><a href="#MyProfile"><span class="glyphicon glyphicon-user"></span> My Profile </a></li>
              <li class="active"><a href="#MyProfile"><span class="glyphicon glyphicon-user"></span> My Profile </a></li>
            <li class="active"><a href="#EmployeeList"><span class="glyphicon glyphicon-menu-down"></span> List Of Employees </a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="#"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
      <div ng-view></div>
      <footer></footer>
    </div>
  </div>
